#about{
  padding: 5rem 0;
}

#about h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

#about h3{
  margin-bottom: 1rem;
}

#about .about-content{
  display: flex;
}

#about .about-text , #about .about-image{
  flex: 1;
}

#about .about-text{
  text-align: justify;
}

#about .about-image img{
  display: block;
  margin-left: auto;
  width: 75%;
  border-radius: 
}
